#Companies {
    padding-top: 3em;
}

#Companies h1 {
    font-size: 3rem;
    text-align: center;
    color: teal;
    font-weight: bold;
}

#Company-Card {
    background-color: #B2D8D8;
    border-radius: 15px;
    height: 400px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#Company-Card div:first-child {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;

    border-radius: 15px;
    height: 90px;
    display: flex;
    justify-content: center; 
    position: relative;
}

#Company-Card div:first-child h1 {
    color: black;
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#Company-Card img {
    width: 30%;
    height: 35%;
    display: block;
    margin: auto;
}

#ButtonRow {
    margin: 30px 20px;
    height: 30px;
}

#ButtonRow .btn {
    border-radius: 15px;
    margin-right: 10px;
}

#Company-Card div.card-body{
    margin: 40px 50px;
}

#Company-Card form {
    margin: 0;
}

#Company-Card form input {
    background-color: lightskyblue;
    border-radius: 15px;
    padding-left: 10px;
}

