#container{
    width: 100% !important;
}


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    padding: 0 !important;
}

#form{
    width:50% !important;
    margin:auto !important;
    align-content: center !important;

}

#createOrder-label{
    margin: 100px;
    font-size: 1.5em;
    background-color: rgba(235, 235, 235, 0.932) ;
    color: teal;
    font-style: inherit;
    font-weight: bold;
    text-align: center !important;
}


.col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 50%;
    margin:auto !important;
}

#row {
    margin-bottom: 1rem;
    max-width: 50%;
    margin: auto !important;
    margin-bottom: 50px !important;
}

#rowproduct{
    margin-bottom: 1rem;
    max-width: 50%;
    margin: auto !important;
    margin-bottom: 70px !important;
}

#label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: teal !important;
}

#header{
    background-color: teal !important;
}

#header1{
    background-color: teal !important;
    padding: 0 !important;
}

#cancel{
    margin-left:850px !important;
    background-color: red !important;
    font-size: 1em !important;
    margin-top: 100px;
    color: white !important;
}

#submit{
    color: green !important;
    margin-left: 800px !important;
    margin-top: 50px !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal !important;
    color: white !important;
}

#check{
    padding: 0 !important;
}
