.MuiPaper-elevation1 {
    box-shadow: none !important;
    padding: 0 !important;
    border:none!important;
}

.MuiTableContainer-root {
    width: 100% !important;
    height: 100% !important;
    overflow-x: none;
    padding: 100px 0px 0px 1200px;
}

#transactions-label{
    margin: 100px;
    font-size: 1.5em;
    background-color: rgba(235, 235, 235, 0.932) ;
    color: teal;
    font-style: inherit;
    font-weight: bold;
    text-align: center !important;
}

#collapsible-table{
    width: 50% !important;
    margin:auto;
}

#collapsible-table{
    width: 50% !important;
    margin:auto;
}

.MuiTableCell-head {
    color:white !important;
    font-weight: bold !important;
    font-size: 1em !important;
    line-height: 1.5rem;
    background-color: teal;
}

#min-col{
    padding:0 !important;
    max-width: 15px;
}

#date-col{
    padding: 0 0 0 4px !important;
    max-width: 30px;
}

#supplier-col{
    padding: 0 !important;
    max-width: 20px;
}

#order-col{
    padding-left: 4px !important;
    padding-right: 0 !important;
    max-width: 100px;
}

#sub-table{
    background-color: rgb(243, 243, 243) !important;
}

#sub-table-header{
    background-color: rgb(223, 223, 223) !important;
    color: teal !important;
}


a:hover {
    color: black;
    text-decoration: underline;
}

.MuiFab-primary {
    color: #fff;
    background-color: teal !important;
    box-shadow: none!important;
    margin-left: 1450px!important;
    margin-top: 150px!important;
    margin-bottom: 200px !important;
}